
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add a new Client</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)<br>

    @Html.LabelFor(model => model.StylistId)
    @Html.DropDownList("StylistId")<br>


    <input class="button" type="submit" value="Add new Client" />
}
<p>@Html.ActionLink("Show all Members", "Index")</p>